$white-color: #fff;
$gray-light: #777;
$black-color: #080808;
$gray-medium-light: #eaeaea;
$gray: #555;
$gray-dark: #222;
$red: red;
$solidColor: #e8e8e8;
$gray-medium-light: hsl(0, 0%, 92%);
$near-white: #e8e8e8;
